//
// Page effect component
//
// <div class="_c-page-effect" data-c="page-effect" data-page-effect="fade">
//   <div class="_c-page-effect__item">
//     Loading...
//   </div>
// </div>
//

.{_prefix}c-page-effect {
  @extend $_page-effect;
}
